


body {
  background-color: #D1E8E4;
  margin: 10px;
  font-family: 'Courgette', cursive;
}
.container {
  display: flex;
  justify-content: center;

}

.person {
  margin: 10px;
}

.btn {
  display: flex;
 justify-content: space-evenly;
}

button {
  background-color: #C37B89;
  color: #fff;
  padding: 15px;
  border: none;
  box-shadow: black 1px 2px 10px;
  text-shadow: black 1px 1px;
}
button:hover{
  background-color: #c5697c;
}
p {
  color: #C37B89;
}
img {
  box-shadow: black 1px 2px 10px;
}
h2 {
  color: #000000bb;
}